### your site title here

title: Moises Mata
description: Senior in Computer Science and Applied Math, Columbia University

baseurl: /moisesmata.github.io #name of GitHub repository
url: "moises-mata.com" #custom url to be used instead of GitHub repository
email: mm6155@columbia.edu

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

# Social media links in footer (only username/ID, not full URLs)
linkedin: "moises-mata-cu"
github: "moisesmata"
orcid: "0009-0002-9881-1786"

# Markdown
highlighter: rouge
markdown: kramdown

# Tracker
analytics:

# optimization -> compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: false
  startings: []

#collection
collections:
  projects:
    output: true
    permalink: /projects/:name/
    order:
      - lioncub-cubesat.md
      - nbody-accelerator.md
      - nasa-suits.md

sass:
  sass_dir: /assets/css/_sass
  style: compressed

include:
  - _pages

exclude:
  - README.md
  - LICENSE.md

plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-email-protect
  - jekyll-target-blank
